<html>
<head>
	<script src="/static/jquery-1.7.1.min.js"></script>
	<script src="https://browserid.org/include.js" type="text/javascript"></script>
	<script>
		function doBrowserID() {
			navigator.id.getVerifiedEmail(function(assertion) {
			    if (assertion) {
			        // This code will be invoked once the user has successfully
			        // selected an email address they control to sign in with.
					$.ajax({
						type: 'POST',
						url: '/login',
						data: {
							assertion: assertion
						},
						success: function(e) {
							// Login success!
							window.location = '/home';
						}
					});
		
			    } else {
			        // something went wrong!  the user isn't logged in.
			    }
			});
	}
	
	function init() {
		$('.loginButton').click(doBrowserID);
	}
	
	$(document).ready(init);
	</script>
</head>
<body>
	<img class="loginButton" src="/static/sign_in_red.png"/>
</body>
</html>